<launch>
	<!-- rosrun rosaria RosAria -->

	<node pkg="rosaria" type="RosAria" name="RosAria" output="screen">
	      <param name="trans_decel" type="double" value="0.5" />
	</node>

    <!-- launch smartband receiver -->
	<node pkg="sgr_project" type="smartband_receiver.py" name="smartband_receiver" output="screen" />

    <!-- launch stop distance calculator -->
	<node pkg="sgr_project" type="stop_distance_calculator.py" name="stop_distance_calculator" args="$(find sgr_project)/config" output="screen" />

</launch>
