<launch>
    <!-- check 'ls /sys/class/power_supply' in order to know your battery ID; default: BAT0 -->
    <arg name="battery" value="BAT0"/>
    <node pkg="laptop_battery_monitor" type="laptop_battery.py" name="laptop_battery">
          <param name="acpi_path" type="string" value="$(arg battery)" />
    </node>

    <!-- rosrun lurch monitor_laptop_charge.py -->
    <node pkg="lurch" type="monitor_laptop_charge.py" name="monitor_laptop_charge" output="screen" />
</launch>